---
title: Identifying the API Endpoint for your Cloud Foundry Instance
---

The API endpoint, or target URL, for your Cloud Foundry instance is the URL of
the Cloud Controller in your Cloud Foundry instance.
Find your API endpoint by consulting your cloud operator or from the command
line.

## <a id='cli'></a>From the Command Line ##

From a command line, use the `cf api` command to view your API endpoint.

Example:

<pre class='termnial'>
$ cf api
API endpoint: https://api.example.com (API version: 2.2.0)
</pre>
