---
title: Configuring Cell Disk Cleanup Scheduling
owner: GrootFS
---

<strong><%= modified_date %></strong>

This topic describes how to configure disk cleanup scheduling on Diego cells 
in Cloud Foundry (CF).

## <a id='what'></a> What is Disk Cleanup

CF isolates application instances (AIs) from each other using containers that 
run inside Diego cells.
Containers enforce a set of isolation layers including file system isolation.
A CF container file system can either be a CF stack or the result of pulling 
a Docker image.

For performance reasons, the cells cache the Docker image layers and the CF stacks used by running application instances.
When CF destroys an AI or reschedules an AI to a different cell, there exists the possibility that certain Docker image layers or an old CF stack become unused.
If CF does not delete these unused layers, the cell ephemeral disk can fill.

Disk cleanup is the process of removing unused layers from the cell disk.
The disk cleanup process removes all unused Docker image layers and old CF stacks, regardless of their size or age.
The sum of disk space used by all unused layer called the **cell cache**, or just **cache**.

## <a id='options'></a> Options for Disk Cleanup

CF provides the following options for scheduling the disk cleanup process on 
Diego cells:

* **Always clean up the Cell Disk**:
  This option makes the cell schedule a disk cleanup every time a container is  
  created. Running the disk cleanup process this frequently
  can result in a negative impact on the cell performance.
* **Clean up Disk space once cache size is reached**:
  This option makes the cell schedule the disk cleanup only when a configurable 
  cache size is reached or exceeded.

See the [Configure Disk Cleanup Scheduling](#applying-configuration) section of this topic to select one of these options.

### <a id='choosing-a-cache-size'></a> Choosing a Cache Size

The default cache size is 10&nbsp;GB, which is typically sufficient for almost all use cases.
You should never set cache size to greater than 50% of the ephemeral disk, or the cell may run out of disk space.

Setting the cache size to a low value results in improved disk space management at the cost of performance. The cell must run the cleanup process more frequently, and re-download images more frequently.

Setting the cache size to a high value results in enhanced performance but can result in providing insufficient disk space for applications. This can result in scheduling errors.

## <a id='applying-configuration'></a> Configure Disk Cleanup Scheduling

To control how Diego cells schedule their disk cleanup, set the BOSH property `grootfs.cache_size_bytes` to one of the following [options](#options):

* **0**: The cell runs disk cleanup whenever it creates a new container.
* **A positive integer**: The cell runs disk cleanup whenever the total unused layer size, in bytes, exceeds this number. 