---
title: Configuring Cell Disk Cleanup Scheduling
owner: GrootFS
---

<strong><%= modified_date %></strong>

This topic describes how to configure disk cleanup scheduling
on Diego cells in Cloud Foundry (CF).

## <a id='what'></a> What is Disk Cleanup

CF isolates application instances (AIs) from each other
using containers that run inside Diego cells.
Containers enforce a set of isolation layers
including file system isolation.
A CF container file system can either be
a CF stack
or the result of pulling a Docker image.

For performance reasons,
the cells cache the Docker image layers and the CF stacks
that running AIs use.
When CF destroys an AI (e.g.: as a result of `cf delete`)
or when CF reschedules an AI to a different cell,
there is a chance that certain Docker image layers,
or an old CF stack
will become unused.
If CF does not clean these unused layers
the cell ephemeral disk will slowly fill.

Disk cleanup is the process of removing unused layers
from the cell disk.
The disk cleanup process will remove all unused Docker image layers
and old CF Stacks,
regardless of their size or age.
The sum of disk space used by all unused layer is what we call Cache.

## <a id='options'></a> Options for Disk Cleanup

CF provides the following options
for scheduling the disk cleanup process
on Diego cells:

* **Always clean up the Cell Disk**:
  This option makes the cell schedule a disk cleanup
  every time a container gets created.
  Running the disk cleanup process so frequently
  may have a negative impact on the cell performance.
* **Clean up Disk space once cache size is reached**:
  Choosing this option makes the cell schedule the disk cleanup process
  only when a configurable cache size is reached or exceeded.

See the [Configure Disk Cleanup Scheduling](#applying-configuration) section for how to choose one these options.

### <a id='choosing-a-cache-size'></a> Choosing a Cache Size

The default value is 10GB, which should be sufficient for almost all use cases.
This value should never be bigger than 50% of the ephemeral disk, or there is the risk of the cell running out of disk space.

Setting this value too low will result in a better management of disk space, but sacrifice performance.
The cell will need to clean up more often and also redownload images more frequently.

Setting this value too high will enhance performance, but could lead to insufficient disk space
for applications to run, resulting in schedulling errors.

## <a id='applying-configuration'></a> Configure Disk Cleanup Scheduling

To control how Diego cells schedule their disk cleanup, set the BOSH property `grootfs.cache_size_bytes` to one of the following [options](#options):

* `0`: the cell runs disk cleanup whenever it creates a new container.
* A positive number: the cell runs disk cleanup whenever its total unused layer size exceeds the number, in bytes. The number acts as the cache size.
