---
title: DEA Architecture Component Metrics
owner: Logging and Metrics
---

<strong><%= modified_date %></strong>

<%= vars.cloud_controller_dea_agent %> 

This topic lists and describes the metrics for components that are related to the DEA architecture in Cloud Foundry.
See the [Cloud Foundry Component Metrics](./all_metrics.html) topic for all other metrics, including those related to the Diego Architecture.
Metrics are streamed from the Loggregator [Firehose](./architecture.html).

##<a id='dea'></a>DEA
<%= partial './metrics/dea_logging_agent' %>

##<a id='hm9000'></a>HM9000
<%= partial './metrics/hm9000' %>

