---
title: Running Cloud Foundry
owner: CAPI
---

## <a id='deploying'></a> Deploying Cloud Foundry ##

[BOSH](/bosh/) is the recommended and supported means to [deploy Cloud Foundry](/deploying/index.html).
However, BOSH is more than a provisioning and deployment tool.
It is also the tool you use to manage and troubleshoot existing Cloud Foundry instances.

## <a id='managing'></a> Managing Cloud Foundry ##

* <a class="subnav" href="./managing-cf/logging.html">Cloud Foundry Logging</a>
* <a class="subnav" href="./managing-cf/logging-config.html">Configuring System Logging</a>
* <a href="../uaa/uaa-user-management.html">Managing Users</a>
* <a class="subnav" href="./cf-api-endpoint.html">Identifying your Cloud Foundry API Endpoint and Version</a>
* <a class="subnav" href="./managing-cf/audit-events.html">Audit Events</a>
* <a class="subnav" href="./managing-cf/usage-events.html">Usage Events and Billing</a>
* <a class="subnav" href="./config-ssh.html">Configuring SSH Access for Cloud Foundry</a>
* <a href="./hm-notifications.html" class="subnav">Configuring Health Monitor Notifications</a>
* <a href="../running/trusted-system-certificates.html" class="subnav">Configuring Trusted System Certificates for Applications</a>
* <a href="./config-cell-cleanup.html" class="subnav">Configuring Cell Disk Cleanup Scheduling</a>
* <a href="./deploy-vol-services.html" class="subnav">Adding Volume Services to your Deployment</a>

## <a id='troubleshooting'></a> Troubleshooting ##

* <a class="subnav" href="./monitoring-test.html">Monitoring and Testing Diego Components</a>
* <a class="subnav" href="./troubleshooting.html">Troubleshooting Cloud Foundry</a>
* <a class="subnav" href="./troubleshooting/troubleshooting-diego-windows.html">Troubleshooting Diego for Windows</a>

## <a id='more'></a> More ##
- [BOSH](/bosh/index.html)
- [Cloud Foundry Architecture](/concepts/architecture/index.html)

## <a id='join'></a> Join the Community ##

Join our mailing lists to get help in running Cloud Foundry.

- [BOSH Users](https://groups.google.com/a/cloudfoundry.org/forum/?fromgroups#!forum/bosh-users)
- [BOSH Developers](https://groups.google.com/a/cloudfoundry.org/forum/?fromgroups#!forum/bosh-dev)
- [Cloud Foundry Developers](https://groups.google.com/a/cloudfoundry.org/forum/#!forum/vcap-dev)
