---
title: Running Cloud Foundry
owner: CAPI
---


[BOSH](/bosh/) is the recommended and supported means to [deploy Cloud Foundry](/deploying/index.html). However, BOSH is more than a provisioning and deployment tool. It is also the tool you use to manage and troubleshoot existing Cloud Foundry instances.


## <a id='managing'></a> Managing Cloud Foundry

* [Cloud Foundry logging](./managing-cf/logging.html)
* [Configuring system logging](./managing-cf/logging-config.html)
* [Managing users](../uaa/uaa-user-management.html)
* [Identifying your Cloud Foundry API endpoint and version](./cf-api-endpoint.html)
* [Audit events](./managing-cf/audit-events.html)
* [UAA audit requirements](./managing-cf/uaa-audit-requirements.html)
* [Usage events and billing](./managing-cf/usage-events.html)
* [Configuring SSH access for Cloud Foundry](./config-ssh.html)
* [Configuring Health Monitor notifications](./hm-notifications.html)
* [Configuring trusted system certificates for apps](./trusted-system-certificates.html)
* [Configuring Diego Cell disk cleanup scheduling](./config-cell-cleanup.html)
* [Adding volume services to your deployment](./deploy-vol-services.html)
* [Migrating Cloud Controller to Multi-Process Mode (Puma)](./managing-cf/multi-process-cloud-controller.html)


## <a id='troubleshooting'></a> Troubleshooting

* [Monitoring and testing Diego components](./monitoring-test.html)
* [Scaling Cloud Controller](./managing-cf/scaling-cloud-controller.html)
* [Scaling Cloud Controller (cf-for-k8s)](./managing-cf/scaling-cloud-controller-k8s.html)
* [Troubleshooting Cloud Foundry](./troubleshooting.html)


## <a id='more'></a> More information

* [BOSH](/bosh/index.html)
* [Cloud Foundry architecture](/concepts/architecture/index.html)


## <a id='join'></a> Join the community

Join our mailing lists to get help in running Cloud Foundry.

* [BOSH Users](https://groups.google.com/a/cloudfoundry.org/forum/?fromgroups#!forum/bosh-users)
* [BOSH Developers](https://groups.google.com/a/cloudfoundry.org/forum/?fromgroups#!forum/bosh-dev)
* [Cloud Foundry Developers](https://groups.google.com/a/cloudfoundry.org/forum/#!forum/vcap-dev)
