---
title: Running Cloud Foundry
owner: CAPI
---

## <a id='deploying'></a> Deploying Cloud Foundry

[BOSH](/bosh/) is the recommended and supported means to [deploy Cloud Foundry](/deploying/index.html). However, BOSH is more than a provisioning and deployment tool. It is also the tool you use to manage and troubleshoot existing Cloud Foundry instances.


## <a id='managing'></a> Managing Cloud Foundry

* [Deploying Service Mesh (Beta)](./deploying-service-mesh.html)
* [Cloud Foundry Logging](./managing-cf/logging.html)
* [Configuring System Logging](./managing-cf/logging-config.html)
* [Managing Users](../uaa/uaa-user-management.html)
* [Identifying Your Cloud Foundry API Endpoint and Version](./cf-api-endpoint.html)
* [Audit Events](./managing-cf/audit-events.html)
* [UAA Audit Requirements](./managing-cf/uaa-audit-requirements.html)
* [Usage Events and Billing](./managing-cf/usage-events.html)
* [Configuring SSH Access for Cloud Foundry](./config-ssh.html)
* [Configuring Health Monitor Notifications](./hm-notifications.html)
* [Configuring Trusted System Certificates for Apps](./trusted-system-certificates.html)
* [Configuring Diego Cell Disk Cleanup Scheduling](./config-cell-cleanup.html)
* [Adding Volume Services to Your Deployment](./deploy-vol-services.html)


## <a id='troubleshooting'></a> Troubleshooting

* [Monitoring and Testing Diego Components](./monitoring-test.html)
* [Scaling Cloud Controller](./managing-cf/scaling-cloud-controller.html)
* [Scaling Cloud Controller (cf-for-k8s)] (./managing-cf/scaling-cloud-controller-k8s.html)
* [Troubleshooting Cloud Foundry](./troubleshooting.html)


## <a id='more'></a> More

* [BOSH](/bosh/index.html)
* [Cloud Foundry Architecture](/concepts/architecture/index.html)


## <a id='join'></a> Join the Community

Join our mailing lists to get help in running Cloud Foundry.

* [BOSH Users](https://groups.google.com/a/cloudfoundry.org/forum/?fromgroups#!forum/bosh-users)
* [BOSH Developers](https://groups.google.com/a/cloudfoundry.org/forum/?fromgroups#!forum/bosh-dev)
* [Cloud Foundry Developers](https://groups.google.com/a/cloudfoundry.org/forum/#!forum/vcap-dev)
