---
title: Monitoring and Testing Diego Components
owner: Diego
---

<strong><%= modified_date %></strong>

The following components monitor and test runtime deployment of Cloud Foundry.

##<a id="inigo"></a> Inigo

Inigo is an integration test suite that launches the Diego components through various test cases, including component failures and other exceptional scenarios. Inigo validates a given set of component versions to ensure mutual compatibility, robustness, and graceful performance degradation in failure conditions.

Refer to the [Inigo repo](https://github.com/cloudfoundry-incubator/inigo) on GitHub for more information.

##<a id="auction"></a> Auction

The [auction package](https://github.com/cloudfoundry-incubator/auction) encodes behavioral details about Task and LRP allocation to cells during a Diego [Auction](../concepts/diego/diego-auction.html). It includes a simulation test suite that validates the optimal performance of the auction algorithm. You can run the simulation for different algorithm variants at various scales, and in the following ways:

- In-process, for short feedback loops

- Across multiple processes, to reveal the impact of communication in the auction

- Across multiple machines in a cloud-like infrastructure, to reveal the impact of latency on the auction

Refer to the [Auction repo](https://github.com/cloudfoundry-incubator/auction) on GitHub for more information.

##<a id="cfdot"></a> cfdot

The [CF Diego Operator Toolkit](https://github.com/cloudfoundry/cfdot/blob/master/README.md) (`cfdot`) is a CLI tool designed to interact with a Cloud Foundry Diego deployment. `cfdot` is included in Diego releases v0.1482.0 and later, but it can be built from source and used with older Diego releases by following the instructions in the [cfdot repo](https://github.com/cloudfoundry/cfdot).

`cfdot` commands can perform the following Long-Running Process (LRP) operations:

* List actual LRP groups
* Retire actual LRPs by index and process `guid`
* List desired LRPs and their scheduling information
* Show a specified desired LRP
* Create and delete desired LRPs
* Update a desired LRP

`cfdot` commands can also perform the following operations:

* List domains
* Set domains
* Display Tasks
* Delete Tasks

Refer to the [cfdot repo](https://github.com/cloudfoundry/cfdot) on GitHub for more information.

##<a id="cf"></a> CF Acceptance Tests

CF Acceptance Tests (CATs) is a suite of acceptance-level tests that exercises a full Cloud Foundry deployment using the golang cf CLI and `curl`.

Refer to the [CF Acceptance Tests repo](https://github.com/cloudfoundry/cf-acceptance-tests) on GitHub for more information.
