---
title: Configuring System Logging
owner: Logging and Metrics
---


This topic explains how to configure the Cloud Foundry [Logging and Metrics system](../../loggregator/architecture.html).

## <a id='architecture'></a> Choosing an Architecture

The configuration available depends on the logging and metrics architecture that you have selected.

* [Loggregator Firehose Architecture](../../loggregator/architecture.html#firehose-architecture). This is the original logging and metrics architecture. In this architecture the [Loggregator Agent](../../loggregator/architecture.html#-how-logs-and-metrics-egress-from-vms) running on each VM collects and sends this data out to Doppler components, which temporarily buffer the data before periodically forwarding it to the Traffic Controller or Reverse Log Proxy (RLP).
* [Shared Nothing Architecture](../../loggregator/architecture.html#shared-nothing-architecture). Logs are shipped directly from VMs via syslog rather than passing through the Loggregator Firehose components. Metrics are exposed over Prometheus endpoints provided by the metrics agent.

It is also possible to combine elements of both architectures in the same deployment, for example to retain existing Loggregator Firehose integrations but use syslog agent to send logs to syslog drains.

## <a id='scaling-loggregator'></a> Scaling Loggregator

Cloud Foundry system components and apps constantly generate log and metrics data. When your deployment is configured to use the [Loggregator Firehose Architecture](../../loggregator/architecture.html#-loggregator-firehose-architecture) and the log and metrics data input to a Doppler exceeds its buffer size for a given interval, data can be lost.

Refer to the indicators [described within loggregator-release](https://github.com/cloudfoundry/loggregator-release/blob/main/jobs/doppler/templates/indicators.yml.erb) (for example log loss rate) and suggested actions (typically scaling out doppler, traffic controller or reverse log proxy instances).

## <a id='scaling-shared-nothing'></a> Scaling Shared Nothing

Refer to loggregator-agent-release for the [indicators for the syslog agent](https://github.com/cloudfoundry/loggregator-agent-release/blob/main/jobs/loggr-syslog-agent/templates/indicators.yml.erb).

## <a id='scaling-log-cache'></a> Scaling Log Cache

Refer to log-cache-release for the [indicators for Log Cache](https://github.com/cloudfoundry/log-cache-release/blob/main/jobs/log-cache/templates/indicators.yml.erb).

## <a id='customizing'></a> Customizing Logging and Metric components

First review the [cf-deployment operations files](https://github.com/cloudfoundry/cf-deployment/tree/main/operations) that provide for common customizations.

You can further customize each component by changing its properties in the deployment manifest. The [BOSH job specs](https://bosh.io/docs/jobs/#spec) in each BOSH release
are the best reference for the set of configurable properties for logging and metric components.

### loggregator-release

* [doppler](https://github.com/cloudfoundry/loggregator-release/blob/main/jobs/doppler/spec)
* [loggregator_trafficcontroller](https://github.com/cloudfoundry/loggregator-release/blob/main/jobs/loggregator_trafficcontroller/spec)
* [reverse_log_proxy](https://github.com/cloudfoundry/loggregator-release/blob/main/jobs/reverse_log_proxy/spec)
* [reverse_log_proxy_gateway](https://github.com/cloudfoundry/loggregator-release/blob/main/jobs/reverse_log_proxy_gateway/spec)

### loggregator-agent-release

* [loggr-forwarder-agent](https://github.com/cloudfoundry/loggregator-agent-release/blob/main/jobs/loggr-forwarder-agent/spec)
* [loggregator_agent](https://github.com/cloudfoundry/loggregator-agent-release/blob/main/jobs/loggregator_agent/spec)
* [loggr-syslog-agent](https://github.com/cloudfoundry/loggregator-agent-release/blob/main/jobs/loggr-syslog-agent/spec)
* [loggr-syslog-binding-cache](https://github.com/cloudfoundry/loggregator-agent-release/blob/main/jobs/loggr-syslog-binding-cache/spec)
* [prom_scraper](https://github.com/cloudfoundry/loggregator-agent-release/blob/main/jobs/prom_scraper/spec)

### metrics-discovery-release

* [metrics-agent](https://github.com/cloudfoundry/metrics-discovery-release/blob/main/jobs/metrics-agent/spec)
