---
title: Creating and Modifying Quota Plans
---

_This page assumes you are using cf CLI v6._

Quota plans are named sets of memory, service, and instance usage quotas. For example, one quota plan might allow up to 10 services, 10 routes, and 2 GB of RAM, while another might offer 100 services, 100 routes, and 10 GB of RAM. Quota plans have user-friendly names, but are referenced in Cloud Foundry internal systems by unique GUIDs.

Quota plans are not directly associated with user accounts. Instead, every organization has a list of available quota plans, and the account admin assigns a specific quota plan from the list to the organization. Everyone in the organization shares the quotas described by the plan. There is no limit to the number of defined quota plans an account can have, but only one plan can be assigned at a time.

# <a id='attributes'></a>Quota Plan Attributes #

<table border="1" class="nic" >
<tr>
  <th><strong>Name</strong></th>
  <th><strong>Description</strong></th>
  <th><strong>Valid Values</strong></th>
  <th><strong>Example Value</strong></th>
</tr>
<tr>
  <td>name</td><td>The name you use to identify the plan</td><td>A sequence of letters, digits, and underscore characters. Quota plan names within an account must be unique.</td><td>sliver_quota</td>
</tr>
<tr>
  <td>memory_limit</td><td>Maximum memory usage (in MB) allowed</td><td>integer</td><td>2048</td>
</tr>
<tr>
  <td>non_basic_services_allowed</td><td>Determines whether users can provision instances of non-free service plans. Does not control plan visibility. When false, non-free service plans may be visible in the marketplace but instances can not be provisioned.</td><td>true/false</td><td>true</td>
</tr>
<tr>
  <td>total_routes</td><td>Maximum routes allowed</td><td>integer</td><td>500</td>
</tr>
<tr>
  <td>total_services</td><td>Maximum services allowed</td><td>integer</td><td>25</td>
</tr>
<tr>
  <td>trial_db_allowed</td><td>Legacy Field. Value can be ignored.</td><td>true/false</td><td>true</td>
</tr>
</table>

# <a id='default'></a>Default Quota Plan #

Cloud Foundry installs with one `default` quota plan with the following limits:

* Memory Limit: 10240 MB

* Total Routes: 1000

* Total Services: 100

* Non-basic Services Allowed: True

* Trial DB Allowed: True

# <a id='new'></a>Creating a New Quota Plan #

You can create a new quota plan in one of two ways:

* Directly modify the CF deployment manifest before deploying.
* Use `cf create-quota` after deploying.

## <a id='manifest'></a> Modifying the Manifest ##

1. In a terminal window, run `bosh edit deployment` to open the deployment manifest YAML file in your default text editor.
1. Search for "quota_definitions".
1. Add a new quota definition with limits that you specify. Use the default quota definition as a formatting template.

    The following example shows the `quota_definitions` portion of the `cf.yml` manifest after adding the “silver_quota” plan:

    ```
    quota_definitions:
      default:
        memory_limit: 10240
        non_basic_services_allowed: true
        total_routes: 1000
        total_services: 100
        trial_db_allowed: true
      silver_quota:
        memory_limit: 2048
        non_basic_services_allowed: true
        total_routes: 500
        total_services: 25
        trial_db_allowed: true
    ```

1. Save and close the deployment manifest.

## <a id='create-quota'></a>Using cf create-quota ##

In a terminal window, run the following command. Replace the placeholder attributes with the values you want for this quota plan:

 ```
$ cf create-quota  QUOTA [-m MEMORY] [-r ROUTES] [-s SERVICE_INSTANCES] [--allow-paid-service-plans]
 ```

Example:

 ```
$ cf create-quota small -m 2048 -r 10 -s 10 --allow-paid-service-plans
 ```

# <a id='modify'></a> Modifying a Quota Plan #

You can modify an existing quota plan in one of two ways:

* Directly modify the CF deployment manifest before deploying.
* Use `cf update-quota` after deploying.

## <a id='modify'></a> Modifying the Manifest ##

1. In a terminal window, run `bosh edit deployment` to open the deployment manifest YAML file in your default text editor.
1. Search for "quota_definitions".
1. Modify the value of the attribute you want to change.
1. Save and close the deployment manifest.

## <a id='update-quota'></a> Using cf update-quota ##

1. Run `cf quotas` to find the names of all quota definitions available to your organization. Note the name of the quota plan you want to modify.

```
$ cf quotas
Getting quotas as admin@example.com...
OK

name           total memory limit   instance memory limit   routes   service instances   paid service plans
free           0                    0                       1000     0                   disallowed
paid           10G                  0                       1000     -1                  allowed
small          2G                   0                         10     10                  allowed
trial          2G                   0                       1000     10                  disallowed
```


1. Run `cf update-quota` with the name of the quota you want to modify. Use the appropriate flags to specify the attributes that you want to change.

```
cf update-quota QUOTA [-m MEMORY] [-n NEW_NAME] [-r ROUTES] [-s SERVICE_INSTANCES] [--allow-paid-service-plans | --disallow-paid-service-plans]
```

Example:

 ```
$ cf update-quota small -m 4096 -n medium -r 20 -s 20 --allow-paid-service-plans
 ```
<p class="note"><strong>Note</strong>: If you wish to create or modify quotas for individual spaces rather than across an entire organization, you can use the <code>space-quota</code> command. It is almost identical to the <code>quota</code> command. For example: to create a quota for a space, you would use <code>create-space-quota</code>. To modify that quota, use the <code>update-quota</code> command. The org manager sets and manages the space quotas.