---
title: Error Codes
---

<h2>1000: Invalid Auth Token</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 401</li>
<li><strong>Error Message</strong>: Invalid Auth Token</li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ask the customer to ensure that their credentials are correct.</li>
<li>Ask the customer to run <code>cf logout</code> and <code>cf login</code>.</li>
<li>Ask the customer to rerun the last commands with <code>CF_TRACE=true</code> and send you the output.</li>
<li>Ask the customer to send you the <code>~/.cf/config.json</code>. Ensure that the access token, authorization end point, and login end point are correct</li>
<li>Ensure that the <em>UAA</em> and <em>Login</em> servers are up.</li>
</ol>

<h2>1001: Message Parse Error</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 400</li>
<li><strong>Error Message</strong>: Request invalid due to parse error: <em>&lt;parse error&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ask the customer to run the command with <code>CF_TRACE=true</code> and send you back the output.</li>
<li>Ensure both the request and response are valid JSON.</li>
</ol>

<h2>1002: Invalid Relation</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 400</li>
<li><strong>Error Message</strong>: Invalid Relation: <em>&lt;relation error&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ask the customer to run the command with <code>CF_TRACE=true</code> and send you back the output.</li>
<li>Ensure that the customer is not running custom <code>cf curl</code> commands.</li>
</ol>


<h2>10000: Not Found</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 404</li>
<li><strong>Error Message</strong>: Unknown request</li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ask the customer to run the command with <code>CF_TRACE=true</code> and send you back the output.</li>
<li>Ensure that the trace is not requesting an invalid URL</li>
<li>Ensure that the <em>API</em> server is up.</li>
<li>Ensure that the customer is not running custom <code>cf curl</code> commands.</li>
</ol>

<h2>10001: Server Error</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 500</li>
<li><strong>Error Message</strong>: Server error</li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ask the customer to run the command with <code>CF_TRACE=true</code> and send you back the output.</li>
<li>Ensure that the customer is not running custom <code>cf curl</code> commands.</li>
</ol>

<h2>10002: Not Authenticated</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 401</li>
<li><strong>Error Message</strong>: Authentication error</li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ask the customer to ensure that their credentials are correct.</li>
<li>Ask the customer to run <code>cf logout</code> and <code>cf login</code>.</li>
<li>Ask the customer to rerun the last commands with <code>CF_TRACE=true</code> and send you the output.</li>
<li>Ensure that the <em>UAA</em> and <em>Login</em> servers are up.</li>
</ol>

<h2>10003: Not Authorized</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 403</li>
<li><strong>Error Message</strong>: You are not authorized to perform the requested action</li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ensure that the customer is allowed to do the request that they want. If not ask them to talk to the Organization
or Space manager.
1 Ask the customer to ensure that they are in the correct organization and space they have permissions for.</li>
</ol>

<h2>10004: Invalid Request</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 400</li>
<li><strong>Error Message</strong>: The request is invalid</li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ask the customer to run the command with <code>CF_TRACE=true</code> and send you back the output.</li>
<li>Ensure that the customer is not running custom <code>cf curl</code> commands.</li>
</ol>

<h2>10005: Bad Query Parameter</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 400</li>
<li><strong>Error Message</strong>: The query parameter is invalid: <em>&lt;invalid query params&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ask the customer to run the command with <code>CF_TRACE=true</code> and send you back the output.</li>
<li>Ensure that the customer is not running custom <code>cf curl</code> commands.</li>
</ol>

<h2>10006: Association Not Empty</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 400</li>
<li><strong>Error Message</strong>: Please delete the <em>&lt;children resources&gt;</em> associations for your <em>&lt;to be deleted resource&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ask the customer to run the command with <code>CF_TRACE=true</code> and send you back the output.</li>
<li>Ensure that the customer is not running custom <code>cf curl</code> commands.

<ol>
<li>If they are doing a <code>cf curl -X DELETE</code> then the url must have the <code>?recursive=true</code> param, and thus deleting non empty organizations or spaces.</li>
</ol></li>
</ol>

<h2>10007: Insufficient Scope</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 403</li>
<li><strong>Error Message</strong>: Your token lacks the necessary scopes to access this resource
## Possible Solutions</li>
<li>Ask the customer to send you the <code>~/.cf/config.json</code>.</li>
<li>Run <code>ruby -r &#39;base64&#39; -e &quot;p Base64.decode64 &#39;ACCESS_TOKEN&#39;&quot;</code> where <em>ACCESS_TOKEN</em> is from the config file.</li>
<li>Ensure that the scope is correct for that user.</li>
</ul>

<h2>10008: Unprocessable Entity</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 422</li>
<li><strong>Error Message</strong>: The request is semantically invalid: <em>&lt;request error&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ask the customer to run the command with <code>CF_TRACE=true</code> and send you back the output.</li>
<li>Ensure that the customer is not running custom <code>cf curl</code> commands.</li>
</ol>

<h2>10010: Resource Not Found</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 404</li>
<li><strong>Error Message</strong>: <em>&lt;resource&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ask the customer to run the command with <code>CF_TRACE=true</code> and send you back the output.</li>
<li>Ensure that the resource exists, e.g. the Organization, Space, App, or Service etc exists.</li>
<li>Ensure that the user has the permissions to access the resource</li>
</ol>

<h2>20002: UaaIdTaken</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 400</li>
<li><strong>Error Message</strong>: The UAA ID is taken: <em>&lt;error message&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ensure that the customer is not running custom <code>cf curl</code> commands.</li>
<li>Ask the customer to run the command with <code>CF_TRACE=true</code> and send you back the output.</li>
</ol>

<h2>20003: User Not Found</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 404</li>
<li><strong>Error Message</strong>: The user could not be found: <em>&lt;error message&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ensure that the customer is not running custom <code>cf curl</code> commands.</li>
<li>Ask the customer to run the command with <code>CF_TRACE=true</code> and send you back the output.</li>
</ol>

<h2>30001: Organization Invalid</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 400</li>
<li><strong>Error Message</strong>: The organization info is invalid: <em>&lt;error message&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ensure that the customer does not have invalid organization name. For example, check to see if the organization name is too long or contains invalid characters.</li>
<li>Ask the customer to run the command with <code>CF_TRACE=true</code> and send you back the output.</li>
</ol>

<h2>30002: Organization Name Taken</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 400</li>
<li><strong>Error Message</strong>: The organization name is taken: <em>&lt;organization name&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ensure that the organization name is not taken</li>
<li>Ask the customer to run <code>cf orgs</code> and choose a name that isn&#39;t on the list.</li>
<li>The customer may not be able to see all the orgs due to user permissions. Therefore, you may have to help them.</li>
</ol>

<h2>30003: Organization Not Found</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 404</li>
<li><strong>Error Message</strong>: The organization could not be found: <em>&lt;error message&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ensure that the organization exists, e.g. run <code>cf orgs</code> to see a list of all the organizations.</li>
<li>Ensure that the customer has the correct organization name.</li>
<li>Ensure that the customer has permissions to access the organization.</li>
</ol>

<h2>40001: Space Invalid</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 400</li>
<li><strong>Error Message</strong>: The app space info is invalid: <em>&lt;error message&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ensure that the customer does not have invalid space name, i.e. the space name is too long or has invalid characters.</li>
<li>Ask the customer to run the command with <code>CF_TRACE=true</code> and send you back the output.</li>
</ol>

<h2>40002: Space Name Taken</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 400</li>
<li><strong>Error Message</strong>: The app space name is taken: <em>&lt;error message&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ensure that the space name is not taken</li>
<li>Ask the customer to run <code>cf space</code> inside of their specified organization and choose a name that isn&#39;t on the list.</li>
<li>The customer may not be able to see all the spaces due to user permissions. Therefore, you may have to help them.</li>
</ol>

<h2>40003: Space User Not In Org</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 400</li>
<li><strong>Error Message</strong>: The app space and the user are not in the same org: <em>&lt;error message&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ensure that the customer and the app space is in the correct organization.</li>
<li>Ensure that the customer has the correct permission to access the app space.</li>
</ol>

<h2>40004: Space Not Found</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 404</li>
<li><strong>Error Message</strong>: The app space could not be found: <em>&lt;error message&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ensure that the app space exists in the organization, e.g. run <code>cf spaces</code> to see a list of all the app spaces.</li>
<li>Ensure that the customer has the correct app space name.</li>
<li>Ensure that the customer has permissions to access the space .</li>
</ol>

<h2>60002: Service Instance Name Taken</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 400</li>
<li><strong>Error Message</strong>: The service instance name is taken: <em>&lt;error message&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ensure the service instance is not already created in the space, e.g. run <code>cf services</code> to see a list of all service instances.</li>
</ol>

<h2>60003: Service Instance Service Binding Wrong Space</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 400</li>
<li><strong>Error Message</strong>: The service instance and the service binding are in different app spaces: <em>&lt;error message&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ensure that the customer is not running custom <code>cf curl</code> commands.</li>
<li>Ensure that the customer is in the right space.</li>
</ol>

<h2>60004: Service Instance Not Found</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 404</li>
<li><strong>Error Message</strong>: The service instance could not be found: <em>&lt;error message&gt;</em></li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ensure that the service instance exists, e.g. run <code>cf services</code> to see a list of all service instances.</li>
<li>Ensure that the customer has the correct service instance name.</li>
<li>Ensure that the customer has permission to access the service instance.</li>
</ol>

<h2>60007: Service Instance Service Plan Not Allowed</h2>

<h3>Information</h3>

<ul>
<li><strong>HTTP Code</strong>: 400</li>
<li><strong>Error Message</strong>: The service instance cannot be created because paid service plans are not allowed.</li>
</ul>

<h3>Possible Solutions</h3>

<ol>
<li>Ensure that the space/organization is allowed to add new paid services</li>
<li>Run <code>cf org &lt;organization name&gt;</code> and see if paid services are allowed.</li>
</ol>

