Diego metrics have the following origin names:

+ [auctioneer](#auctioneer)
+ [bbs](#bbs)
+ [cc_uploader](#ccuploader)
+ [file_server](#fileserver)
+ [garden_linux](#gardenlinux)
+ [nsync_bulker](#nsyncbulker)
+ [nsync_listener](#nsynclistener)
+ [rep](#rep)
+ [route_emitter](#routeemitter)
+ [ssh_proxy](#sshproxy)
+ [stager](#stager)
+ [tps_listener](#tpslistener)
+ [tps_watcher](#tpswatcher)<a id="auctioneer"></a>



Default Origin Name: auctioneer

 Metric Name                                                 | Description
-------------------------------------------------------------|----------------------------------------------------------------------------------------------
 AuctioneerFetchStatesDuration                               | Time in nanoseconds that the auctioneer took to fetch state from all the cells when running its auction. Emitted every 30 seconds during each auction.
 AuctioneerLRPAuctionsFailed                                 | Cumulative number of LRP instances that the auctioneer failed to place on Diego cells. Emitted every 30 seconds during each auction.
 AuctioneerLRPAuctionsStarted                                | Cumulative number of LRP instances that the auctioneer successfully placed on Diego cells. Emitted every 30 seconds during each auction.
 AuctioneerTaskAuctionsFailed                                | Cumulative number of Tasks that the auctioneer failed to place on Diego cells. Emitted every 30 seconds during each auction.
 AuctioneerTaskAuctionsStarted                               | Cumulative number of Tasks that the auctioneer successfully placed on Diego cells. Emitted every 30 seconds during each auction.
 LockHeld.v1-locks-auctioneer\_lock                          | Whether an auctioneer holds the auctioneer lock: `1` means the lock is held, and `0` means the lock was lost. Emitted every 30 seconds by the active auctioneer.
 LockHeldDuration.v1-locks-auctioneer\_lock                  | Time in nanoseconds that the active auctioneer has held the auctioneer lock. Emitted every 30 seconds by the active auctioneer.
 memoryStats.lastGCPauseTimeNS                               | Duration in nanoseconds of the last garbage collector pause.
 memoryStats.numBytesAllocated                               | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap                           | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack                          | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                                        | Lifetime number of memory deallocations.
 memoryStats.numMallocs                                      | Lifetime number of memory allocations.
 numCPUS                                                     | Number of CPUs on the machine.
 numGoRoutines                                               | Instantaneous number of active goroutines in the process<a id="bbs"></a>.

Default Origin Name: bbs

 Metric Name                                             | Description
---------------------------------------------------------|----------------------------------------------------------------------------------------------
 BBSMasterElected                                        | Emitted once when the BBS is elected as master.
 ConvergenceLRPDuration                                  | Time in nanoseconds that the BBS took to run its LRP convergence pass. Emitted every 30 seconds when LRP convergence runs.
 ConvergenceLRPPreProcessingActualLRPsDeleted            | Cumulative number of times the BBS has detected and deleted a malformed ActualLRP in its LRP convergence pass. Emitted every 30 seconds.
 ConvergenceLRPPreProcessingMalformedRunInfos            | Cumulative number of times the BBS has detected a malformed DesiredLRP RunInfo in its LRP convergence pass. Emitted every 30 seconds.
 ConvergenceLRPPreProcessingMalformedSchedulingInfos     | Cumulative number of times the BBS has detected a malformed DesiredLRP SchedulingInfo in its LRP convergence pass. Emitted every 30 seconds.
 ConvergenceLRPRuns                                      | Cumulative number of times BBS has run its LRP convergence pass. Emitted every 30 seconds.
 ConvergenceTaskDuration                                 | Time in nanoseconds that the BBS took to run its Task convergence pass. Emitted every 30 seconds when Task convergence runs.
 ConvergenceTaskRuns                                     | Cumulative number of times the BBS has run its Task convergence pass. Emitted every 30 seconds.
 ConvergenceTasksKicked                                  | Cumulative number of times the BBS has updated a Task during its Task convergence pass. Emitted every 30 seconds.
 ConvergenceTasksPruned                                  | Cumulative number of times the BBS has deleted a malformed Task during its Task convergence pass. Emitted every 30 seconds.
 CrashedActualLRPs                                       | Total number of LRP instances that have crashed. Emitted every 30 seconds.
 CrashingDesiredLRPs                                     | Total number of DesiredLRPs that have at least one crashed instance. Emitted every 30 seconds.
 Domain.cf-apps                                          | Whether the 'cf-apps' domain is up-to-date, so that CF apps from CC have been synchronized with DesiredLRPs for Diego to run. `1` means the domain is up-to-date, no data means it is not. Emitted every 30 seconds.
 Domain.cf-tasks                                         | Whether the 'cf-tasks' domain is up-to-date, so that CF tasks from CC have been synchronized with tasks for Diego to run. `1` means the domain is up-to-date, no data means it is not. Emitted every 30 seconds.
 ETCDLeader                                              | Index of the leader node in the etcd cluster. Emitted every 30 seconds.
 ETCDRaftTerm                                            | Raft term of the etcd cluster. Emitted every 30 seconds.
 ETCDReceivedBandwidthRate                               | Number of bytes per second received by the follower etcd node. Emitted every 30 seconds.
 ETCDReceivedRequestRate                                 | Number of requests per second received by the follower etcd node. Emitted every 30 seconds.
 ETCDSentBandwidthRate                                   | Number of bytes per second sent by the leader etcd node. Emitted every 30 seconds.
 ETCDSentRequestRate                                     | Number of requests per second sent by the leader etcd node. Emitted every 30 seconds.
 ETCDWatchers                                            | Number of watches set against the etcd cluster. Emitted every 30 seconds.
 LockHeld.v1-locks-bbs\_lock                             | Whether a BBS holds the BBS lock: `1` means the lock is held, and `0` means the lock was lost. Emitted every 30 seconds by the active BBS server.
 LockHeldDuration.v1-locks-bbs\_lock                     | Time in nanoseconds that the active BBS has held the BBS lock. Emitted every 30 seconds by the active BBS server.
 LRPsClaimed                                             | Total number of LRP instances that have been claimed by some cell. Emitted every 30 seconds.
 LRPsDesired                                             | Total number of LRP instances desired across all LRPs. Emitted periodically.
 LRPsExtra                                               | Total number of LRP instances that are no longer desired but still have a BBS record. Emitted every 30 seconds.
 LRPsMissing                                             | Total number of LRP instances that are desired but have no record in the BBS. Emitted every 30 seconds.
 LRPsRunning                                             | Total number of LRP instances that are running on cells. Emitted every 30 seconds.
 LRPsUnclaimed                                           | Total number of LRP instances that have not yet been claimed by a cell. Emitted every 30 seconds.
 memoryStats.lastGCPauseTimeNS                           | Duration in nanoseconds of the last garbage collector pause.
 memoryStats.numBytesAllocated                           | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap                       | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack                      | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                                    | Lifetime number of memory deallocations.
 memoryStats.numMallocs                                  | Lifetime number of memory allocations.
 MetricsReportingDuration                                | Time in nanoseconds that the BBS took to emit metrics about etcd. Emitted every 30 seconds.
 MigrationDuration                                       | Time in nanoseconds that the BBS took to run migrations against its persistence store. Emitted each time a BBS becomes the active master.
 numCPUS                                                 | Number of CPUs on the machine.
 numGoRoutines                                           | Instantaneous number of active goroutines in the process.
 RequestCount                                            | Cumulative number of requests the BBS has handled through its API. Emitted for each BBS request.
 RequestLatency                                          | Time in nanoseconds that the BBS took to handle requests to its API endpoints. Emitted when the BBS API handles requests.
 TasksCompleted                                          | Total number of Tasks that have completed. Emitted every 30 seconds.
 TasksPending                                            | Total number of Tasks that have not yet been placed on a cell. Emitted every 30 seconds.
 TasksResolving                                          | Total number of Tasks locked for deletion. Emitted every 30 seconds.
 TasksRunning                                            | Total number of Tasks running on cells. Emitted every 30 seconds<a id="ccuploader"></a>.

Default Origin Name: cc_uploader

 Metric Name                                     | Description
-------------------------------------------------|----------------------------------------------------------------------------------------------
 memoryStats.lastGCPauseTimeNS                   | Duration in nanoseconds of the last garbage collector pause.
 memoryStats.numBytesAllocated                   | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap               | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack              | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                            | Lifetime number of memory deallocations.
 memoryStats.numMallocs                          | Lifetime number of memory allocations.
 numCPUS                                         | Number of CPUs on the machine.
 numGoRoutines                                   | Instantaneous number of active goroutines in the process<a id="fileserver"></a>.


Default Origin Name: file\_server

 Metric Name                                     | Description
-------------------------------------------------|----------------------------------------------------------------------------------------------
 memoryStats.lastGCPauseTimeNS                   | Duration in nanoseconds of the last garbage collector pause.
 memoryStats.numBytesAllocated                   | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap               | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack              | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                            | Lifetime number of memory deallocations.
 memoryStats.numMallocs                          | Lifetime number of memory allocations.
 numCPUS                                         | Number of CPUs on the machine.
 numGoRoutines                                   | Instantaneous number of active goroutines in the process<a id="gardenlinux"></a>.

Default Origin Name: garden_linux

 Metric Name                                    | Description
------------------------------------------------|----------------------------------------------------------------------------------------------
 BackingStores                                  | Number of container backing store files. Emitted every 30 seconds.
 DepotDirs                                      | Number of directories in the Garden depot. Emitted every 30 seconds.
 LoopDevices                                    | Number of attached loop devices. Emitted every 30 seconds.
 memoryStats.lastGCPauseTimeNS                  | Duration in nanoseconds of the last garbage collector pause.
 memoryStats.numBytesAllocated                  | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap              | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack             | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                           | Lifetime number of memory deallocations.
 memoryStats.numMallocs                         | Lifetime number of memory allocations.
 MetricsReporting                               | How long it took to emit the BackingStores, DepotDirs, and LoopDevices metrics. Emitted every 30 seconds.
 numCPUS                                        | Number of CPUs on the machine.
 numGoRoutines                                  | Instantaneous number of active goroutines in the process<a id="nsyncbulker"></a>.

Default Origin Name: nsync_bulker

 Metric Name                                    | Description
------------------------------------------------|----------------------------------------------------------------------------------------------
 DesiredLRPSyncDuration                         | Time in nanoseconds that the nsync-bulker took to synchronize CF apps and Diego DesiredLRPs. Emitted every 30 seconds.
 LockHeld.v1-locks-nsync\_bulker\_lock            | Whether an nsync-bulker holds the nsync-bulker lock: `1` means the lock is held, and `0` means the lock was lost. Emitted every 30 seconds by the active nsync-bulker.
 LockHeldDuration.v1-locks-nsync\_bulker\_lock  | Time in nanoseconds that the active nsync-bulker has held the convergence lock. Emitted every 30 seconds by the active nsync-bulker.
 LRPsDesired                                    | Cumulative number of LRPs desired through the nsync API. Emitted on each request desiring a new LRP, every 30 seconds.
 memoryStats.lastGCPauseTimeNS                  | Duration in nanoseconds of the last garbage collector pause.
 memoryStats.numBytesAllocated                  | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap              | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack             | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                           | Lifetime number of memory deallocations.
 memoryStats.numMallocs                         | Lifetime number of memory allocations.
 NsyncInvalidDesiredLRPsFound                   | Number of invalid DesiredLRPs found during nsync-bulker periodic synchronization. Emitted every 30 seconds.
 numCPUS                                        | Number of CPUs on the machine.
 numGoRoutines                                  | Instantaneous number of active goroutines in the process<a id="nsynclistener"></a>.

Default Origin Name: nsync_listener

 Metric Name                                  | Description
----------------------------------------------|----------------------------------------------------------------------------------------------
 memoryStats.lastGCPauseTimeNS                | Duration in nanoseconds of the last garbage collector pause.
 memoryStats.numBytesAllocated                | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap            | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack           | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                         | Lifetime number of memory deallocations.
 memoryStats.numMallocs                       | Lifetime number of memory allocations.
 numCPUS                                      | Number of CPUs on the machine.
 numGoRoutines                                | Instantaneous number of active goroutines in the process<a id="rep"></a>.

Default Origin Name: rep

 Metric Name                                             | Description
---------------------------------------------------------|----------------------------------------------------------------------------------------------
 CapacityRemainingContainers                             | Remaining number of containers this cell can host. Emitted every 60 seconds.
 CapacityRemainingDisk                                   | Remaining amount in MiB of disk available for this cell to allocate to containers. Emitted every 60 seconds.
 CapacityRemainingMemory                                 | Remaining amount in MiB of memory available for this cell to allocate to containers. Emitted every 60 seconds.
 CapacityTotalContainers                                 | Total number of containers this cell can host. Emitted every 60 seconds.
 CapacityTotalDisk                                       | Total amount in MiB of disk available for this cell to allocate to containers. Emitted every 60 seconds.
 CapacityTotalMemory                                     | Total amount in MiB of memory available for this cell to allocate to containers. Emitted every 60 seconds.
 CM                                                      | Emitted every 30 seconds.
 ContainerCount                                          | Number of containers hosted on the cell. Emitted every 30 seconds.
 GardenContainerCreationDuration                         | Time in nanoseconds that the rep Garden backend took to create a container. Emitted after every successful container creation.
 LogMessage                                              | Emitted every 30 seconds.
 logSenderTotalMessagesRead                              | Count of application log messages sent by Diego Executor. Emitted every 30 seconds.
 memoryStats.lastGCPauseTimeNS                           | Duration in nanoseconds of the last garbage collector pause.
 memoryStats.numBytesAllocated                           | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap                       | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack                      | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                                    | Lifetime number of memory deallocations.
 memoryStats.numMallocs                                  | Lifetime number of memory allocations.
 numCPUS                                                 | Number of CPUs on the machine.
 numGoRoutines                                           | Instantaneous number of active goroutines in the process.
 RepBulkSyncDuration                                     | Time in nanoseconds that the cell rep took to synchronize the ActualLRPs it has claimed with its actual garden containers. Emitted every 30 seconds by each rep.
 UnhealthyCell                                           | Whether the cell has failed to pass its healthcheck against the garden backend. `0` signifies healthy, and `1` signifies unhealthy. Emitted every 30 seconds<a id="routeemitter"></a>.

Default Origin Name: route_emitter

 Metric Name                                   | Description
-----------------------------------------------|----------------------------------------------------------------------------------------------
 LockHeld.v1-locks-route\_emitter\_lock        | Whether a route-emitter holds the route-emitter lock: `1` means the lock is held, and `0` means the lock was lost. Emitted every 30 seconds by the active route-emitter.
 LockHeldDuration.v1-locks-route\_emitter\_lock | Time in nanoseconds that the active route-emitter has held the route-emitter lock. Emitted every 30 seconds by the active route-emitter.
 memoryStats.lastGCPauseTimeNS                 | Duration in nanoseconds of the last garbage collector pause.
 memoryStats.numBytesAllocated                 | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap             | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack            | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                          | Lifetime number of memory deallocations.
 memoryStats.numMallocs                        | Lifetime number of memory allocations.
 MessagesEmitted                               | The cumulative number of registration messages that this process has sent. Emitted every 30 seconds.
 numCPUS                                       | Number of CPUs on the machine.
 numGoRoutines                                 | Instantaneous number of active goroutines in the process.
 RouteEmitterSyncDuration                      | Time in nanoseconds that the active route-emitter took to perform its synchronization pass. Emitted every 60 seconds.
 RoutesRegistered                              | Cumulative number of route registrations emitted from the route-emitter as it reacts to changes to LRPs. Emitted every 30 seconds.
 RoutesSynced                                  | Cumulative number of route registrations emitted from the route-emitter during its periodic route-table synchronization. Emitted every 30 seconds.
 RoutesTotal                                   | Number of routes in the route-emitter's routing table. Emitted every 30 seconds.
 RoutesUnregistered                            | Cumulative number of route unregistrations emitted from the route-emitter as it reacts to changes to LRPs. Emitted every 30 seconds<a id="sshproxy"></a>.

Default Origin Name: ssh_proxy

 Metric Name                                       | Description
---------------------------------------------------|----------------------------------------------------------------------------------------------
 memoryStats.lastGCPauseTimeNS                     | Duration in nanoseconds of the last garbage collector pause.
 memoryStats.numBytesAllocated                     | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap                 | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack                | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                              | Lifetime number of memory deallocations.
 memoryStats.numMallocs                            | Lifetime number of memory allocations.
 numCPUS                                           | Number of CPUs on the machine.
 numGoRoutines                                     | Instantaneous number of active goroutines in the process <a id="stager"></a>.

Default Origin Name: stager

 Metric Name                                          | Description
------------------------------------------------------|----------------------------------------------------------------------------------------------
 memoryStats.lastGCPauseTimeNS                        | Duration in nanoseconds of the last garbage collector pause.
 memoryStats.numBytesAllocated                        | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap                    | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack                   | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                                 | Lifetime number of memory deallocations.
 memoryStats.numMallocs                               | Lifetime number of memory allocations.
 numCPUS                                              | Number of CPUs on the machine.
 numGoRoutines                                        | Instantaneous number of active goroutines in the process.
 StagingRequestFailedDuration                         | Time in nanoseconds that the failed staging task took to run. Emitted each time a staging task fails.
 StagingRequestsFailed                                | Cumulative number of failed staging tasks handled by each stager. Emitted every time a staging task fails.
 StagingRequestsSucceeded                             | Cumulative number of successful staging tasks handled by each stager. Emitted every time a staging task completes successfully.
 StagingRequestSucceededDuration                      | Time in nanoseconds that the successful staging task took to run. Emitted each time a staging task completes successfully.
 StagingStartRequestsReceived                         | Cumulative number of requests to start a staging task. Emitted by a stager each time it handles a request<a id="tpslistener"></a>.

Default Origin Name: tps_listener

 Metric Name                                                 | Description
-------------------------------------------------------------|----------------------------------------------------------------------------------------------
 memoryStats.lastGCPauseTimeNS                               | Duration in nanoseconds of the last garbage collector pause.
 memoryStats.numBytesAllocated                               | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap                           | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack                          | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                                        | Lifetime number of memory deallocations.
 memoryStats.numMallocs                                      | Lifetime number of memory allocations.
 numCPUS                                                     | Number of CPUs on the machine.
 numGoRoutines                                               | Instantaneous number of active goroutines in the process<a id="tpswatcher"></a>.

Default Origin Name: tps_watcher

 Metric Name                                                 | Description
-------------------------------------------------------------|----------------------------------------------------------------------------------------------
 LockHeld.v1-locks-tps\_watcher\_lock                        | Whether a tps-watcher holds the tps-watcher lock: `1` means the lock is held, and `0` means the lock was lost. Emitted every 30 seconds by the active tps-watcher.
 LockHeldDuration.v1-locks-tps\_watcher\_lock                | Time in nanoseconds that the active tps-watcher has held the convergence lock. Emitted every 30 seconds by the active tps-watcher.
 memoryStats.lastGCPauseTimeNS                               | Duration in nanoseconds of the last garbage collector pause.
 memoryStats.numBytesAllocated                               | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap                           | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack                          | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                                        | Lifetime number of memory deallocations.
 memoryStats.numMallocs                                      | Lifetime number of memory allocations.
 numCPUS                                                     | Number of CPUs on the machine. Emitted every 30 seconds.
 numGoRoutines                                               | Instantaneous number of active goroutines in the process.
 
[Top](#top)
