<% if $this_topic == 'restore-pcf' || $this_topic == 'backup-pcf' %>

1. Install Ruby and the [BOSH CLI Ruby gem](http://docs.cloudfoundry.org/bosh/bosh-cli.html) on a machine outside of your [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) system deployment.


1. From the Installation Dashboard in Ops Manager, select **Ops Manager Director > Status** and record the IP address listed for the Ops Manager Director.
You access the BOSH Director using this IP address.

	<img src="/pivotalcf/customizing/images/director-ip.png">

1. Click **Credentials** and record the Director credentials.

	<img src="/pivotalcf/customizing/images/director-creds.png">

1. From the command line, target the BOSH Director using the IP address and credentials that you recorded:

	<pre class='terminal'>
	    $ bosh target 10.0.0.3
	    Target set to `microbosh-1234abcd1234abcd1234'
	    Your username: director
	    Enter password: ********************
	    Logged in as `director'
	</pre>

    <p class="note"><strong>Note</strong>: If <code>bosh target</code> does not prompt you for your username and password, run <code>bosh login</code>.</p>

<% end %>


1. Run `bosh -e MY-ENV deployments` to identify the names of all deployments in the environment you specify. Replace `MY-ENV` with the alias you set for your BOSH Director. For example:

<pre class="terminal">
$ bosh -e dev deployments
Using environment '192.168.15.4' as client 'admin'

Name                                Release(s)                Stemcell(s)                                         Team(s)  Cloud Config
cf-example                          binary-buildpack/1.0.9    bosh-warden-boshlite-ubuntu-trusty-go_agent/3363.9  -        latest
                                    capi/1.21.0
                                    cf-mysql/34
                                    cf-smoke-tests/11
                                    cflinuxfs2-rootfs/1.52.0
                                    consul/155
                                    diego/1.8.1
                                    etcd/94
                                    garden-runc/1.2.0
                                    loggregator/78
                                    nats/15
                                    routing/0.145.0
                                    statsd-injector/1.0.20
                                    uaa/25
service-instance_0d4140a0-42b7-...  mysql/0.6.0               bosh-warden-boshlite-ubuntu-trusty-go_agent/3363.9  -        latest

2 deployments

Succeeded
</pre>


1. Run `bosh -e MY-ENV -d MY-DEPLOYMENT manifest > MY-MANIFEST.yml` to download and save the current BOSH deployment manifest. Replace `MY-ENV` with your BOSH Director alias, `MY-DEPLOYMENT` with the deployment name from the output of the previous step, and `MY-MANIFEST.yml` with a name you choose for the saved manifest file. You need this manifest to locate information about your databases.

	<pre class='terminal'>
  $ bosh -e dev -d cf-example manifest cf.yml
	</pre>