HM9000 metrics have the following origin names:

+ [analyzer](#analyzer)
+ [apiserver](#apiserver)
+ [evacuator](#evacuator)
+ [fetcher](#fetcher)
+ [listener](#listener)
+ [sender](#sender)
+ [shredder](#shredder) <a id="analyzer"></a>


Default Origin Name: analyzer

 Metric Name                                   | Description
-----------------------------------------------|------------------------------------------------------------------------------------------------------
 LockHeld.hm9000.analyzer                      | Whether an analyzer holds the lock: `1` means the lock is held, and `0` means the lock was lost. Emitted periodically by the active analyzer.
 LockHeldDuration.hm9000.analyzer              | Time the active analyzer has held the analyzer lock. Emitted periodically by the active analyzer.
 memoryStats.lastGCPauseTimeNS                 | Duration of the last garbage collector pause in nanoseconds.
 memoryStats.numBytesAllocated                 | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap             | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack            | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                          | Lifetime number of memory deallocations.
 memoryStats.numMallocs                        | Lifetime number of memory allocations.
 NumberOfAppsWithAllInstancesReporting         | The number of desired apps for which all instances are reporting. The state of the instance is irrelevant: STARTING/RUNNING/CRASHED all count.
 NumberOfAppsWithMissingInstances              | The number of desired apps for which an instance is missing, i.e. the instance is not heartbeating at all.
 NumberOfCrashedIndices                        | The number of indices reporting as crashed. Because of the restart policy an individual, index might have very many crashes associated with it.
 NumberOfCrashedInstances                      | The number of instances reporting as crashed.
 NumberOfDesiredApps                           | The number of apps that should be running.
 NumberOfDesiredAppsPendingStaging             | The number of apps that are staging.
 NumberOfDesiredInstances                      | The number of apps instances that should be running.
 NumberOfMissingIndices                        | The number of missing instances. These are instances that are desired but are not heartbeating at all.
 NumberOfRunningInstances                      | The number of instances in the STARTING or RUNNING state.
 NumberOfUndesiredRunningApps                  | The number of undesired apps with at least one instance reporting as STARTING or RUNNING.
 numCPUS                                       | Number of CPUs on the machine.
 numGoRoutines                                 | Instantaneous number of active goroutines in the process<a id="apiserver"></a>.

Default Origin Name: apiserver

 Metric Name                                   | Description
-----------------------------------------------|-----------------------------------------------------------------------------------------------------
 memoryStats.lastGCPauseTimeNS                 | Duration of the last garbage collector pause in nanoseconds.
 memoryStats.numBytesAllocated                 | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap             | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack            | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                          | Lifetime number of memory deallocations.
 memoryStats.numMallocs                        | Lifetime number of memory allocations.
 numCPUS                                       | Number of CPUs on the machine.
 numGoRoutines                                 | Instantaneous number of active goroutines in the process<a id="evacuator"></a>.

Default Origin Name: evacuator

 Metric Name                                   | Description
-----------------------------------------------|------------------------------------------------------------------------------------------------------
 LockHeld.hm9000.evacuator                     | Whether an evacuator holds the lock: `1` means the lock is held, and `0` means the lock was lost. Emitted periodically by the active evacuator.
 LockHeldDuration.hm9000.evacuator             | Time the active evacuator has held the evacuator lock. Emitted periodically by the active evacuator.
 memoryStats.lastGCPauseTimeNS                 | Duration of the last garbage collector pause in nanoseconds.
 memoryStats.numBytesAllocated                 | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap             | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack            | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                          | Lifetime number of memory deallocations.
 memoryStats.numMallocs                        | Lifetime number of memory allocations.
 numCPUS                                       | Number of CPUs on the machine.
 numGoRoutines                                 | Instantaneous number of active goroutines in the process<a id="fetcher"></a>.

Default Origin Name: fetcher

 Metric Name                                   | Description
-----------------------------------------------|------------------------------------------------------------------------------------------------------
DesiredStateSyncTimeInMilliseconds             | DEPRECATED. Emitted every 30 seconds<a id="listener"></a>.

Default Origin Name: listener

 Metric Name                                   | Description
-----------------------------------------------|------------------------------------------------------------------------------------------------------
 ActualStateListenerStoreUsagePercentage       | DEPRECATED
 LockHeld.hm9000.listener                      | Whether a listener holds the lock: `1` means the lock is held, and `0` means the lock was lost. Emitted periodically by the active listener.
 LockHeldDuration.hm9000.listener              | Time the active listener has held the listener lock. Emitted periodically by the active listener.
 memoryStats.lastGCPauseTimeNS                 | Duration of the last garbage collector pause in nanoseconds.
 memoryStats.numBytesAllocated                 | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap             | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack            | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                          | Lifetime number of memory deallocations.
 memoryStats.numMallocs                        | Lifetime number of memory allocations.
 numCPUS                                       | Number of CPUs on the machine.
 numGoRoutines                                 | Instantaneous number of active goroutines in the process<a id="sender"></a>.
 ReceivedHeartbeats                            | Number of DEA heartbeats received within an interval.
 SavedHeartbeats                               | Number of heartbeats saved to etcd within an interval.

Default Origin Name: sender

 Metric Name                   | Description
-------------------------------|---------------------------------------------------------------------------------------------------------------------
 StartCrashed                  | Number of instances crashed in the current analysis.
 StartMissing                  | Number of instances missing in the current analysis.
 StartEvacuating               | Number of evacuating crashed in the current analysis.
 StopExtra                     | Number of extra instances stopped in the current analysis.
 StopDuplicate                 | Number of duplicate instances crashed in the current analysis.
 StopEvacuationComplete        | Number of instances evacuated in the current analysis <a id="shredder"></a>.

Default Origin Name: shredder

 Metric Name                                   | Description
-----------------------------------------------|-----------------------------------------------------------------------------------------------------
 LockHeld.hm9000.shredder                      | Whether an shredder holds the lock: `1` means the lock is held, and `0` means the lock was lost. Emitted periodically by the active shredder.
 LockHeldDuration.hm9000.shredder              | Time the active shredder has held the shredder lock. Emitted periodically by the shredder analyzer.
 memoryStats.lastGCPauseTimeNS                 | Duration of the last garbage collector pause in nanoseconds.
 memoryStats.numBytesAllocated                 | Instantaneous count of bytes allocated and still in use.
 memoryStats.numBytesAllocatedHeap             | Instantaneous count of bytes allocated on the main heap and still in use.
 memoryStats.numBytesAllocatedStack            | Instantaneous count of bytes used by the stack allocator.
 memoryStats.numFrees                          | Lifetime number of memory deallocations.
 memoryStats.numMallocs                        | Lifetime number of memory allocations.
 numCPUS                                       | Number of CPUs on the machine.
 numGoRoutines                                 | Instantaneous number of active goroutines in the process.
  

[Top](#top)
